<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Node Website</title>
    <%- include ('partials/head.html')%>
    <link rel="stylesheet" href="/css/searching.css">
    <link rel="stylesheet" href="/css/image-picker.css">
    <link rel="stylesheet" href="/css/switch.css">
    <script src="https://www.lactame.com/lib/image-js/0.21.2/image.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
         <a class="navbar-brand" href="/">MemeUrlGenerator</a>

         <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                     <a class="nav-link">Filter</a>
                 </li>
             </ul>
         </div>
        </div>
     </nav>

    
    <% var aux = []; %>
    <% for (let i = 0; i < info.results.length; i++) { %>
        <% aux.push( info.results[i].url.replace(/,/g,'¿') ); %> 
    <%} %>

    <% console.log(aux); %>
    <div id="info">
        <div class="center">
            <p class="language"><%= info.language %></p>
            <p class="topic"><%= info.topic %></p>
            <p id="results"><%= info.results.length %> results</p>
            <label class="switch">
                <input id="switch" onchange="updateResultsAmount()" type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
     
    </div>
    
    <div>
        <div id="gallery">
            <!--All results images from the search will print here-->
        </div>

        <div id="content">
            <button type="button" class="btn btn-info" onclick="generateInfo('<%= info.topic %>','<%- aux %>','<%= info.language %>')">Generate File</button>
        </div>
    </div>
    
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>URL Memeify Generator</h3>
                <p>A simple meme web searcher, created to complement the discord bot Memeify. <br>By Óscar Méndez.</p>
            </div>
        </div>
    </div>
</body>
<script src="/js/FileSaver.js"></script>
<script src="/js/fileDataManager.js"></script>
<script>
    const content = "<%= aux %>"; 
    const images = getImagesFromServer(content);
    printImages(images, 'gallery');
</script>
</html>