<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/upload.css" />
    <title>Upload</title>
    <%- include ('partials/head.html')%>
    <script src="https://www.lactame.com/lib/image-js/0.21.2/image.min.js"></script>
</head>


<body>
    <%- include ('partials/navigation.html')%>

    <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
        <p>Drag and drop Memes here!</p>

         <form id="formId" action="/upload" method="post" enctype="multipart/form-data">
            <input id="file" type="file" class="inputfile" name="file" data-multiple-caption="{count} files selected" accept="text/plain" multiple/>
            <label for="file"><span>Choose a file</span> </label>
            <input type="submit" id="upload_button" value="Upload">
        </form>
    </div>

    <div id="target">
    </div>

    <script>
        function dropHandler(ev) {
            console.log('File(s) dropped');
            ev.preventDefault();

            if(ev.dataTransfer.files)  {
                var inputFile = document.getElementById('file');

                for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                    if(!(ev.dataTransfer.files[i].type === 'text/plain')) {
                        console.log('INVALID TYPE ... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
                        inputFile.files = null;
                        return;
                    }      
                }   
                inputFile.files = ev.dataTransfer.files;
            }     

            removeDragData(ev);
            
            /*This create an event*/
            var event = new Event('change');
            document.getElementById('file').dispatchEvent(event);
        }

        function dragOverHandler(ev) {
            console.log('File(s) in drop zone');
            ev.preventDefault();
        }

        function removeDragData(ev) {
            console.log('Removing drag data')

            if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to remove the drag data
                ev.dataTransfer.items.clear();
            } else {
                // Use DataTransfer interface to remove the drag data
                ev.dataTransfer.clearData();
            }
        }

        $('#formId')
        .submit( function( e ) {
            e.preventDefault();

            $.ajax( {
            url: '/upload',
            type: 'POST',
            data: new FormData( this ),
            processData: false,
            contentType: false,
            success: function(test) {
                        var html = '<h2>' + test + '</h2>';
                    $('#target').html(html);
                }
            });
        });  


        /*This print the name files to the label of the input file*/
        var inputs = document.querySelectorAll( '.inputfile' );
        Array.prototype.forEach.call( inputs, function( input )
        {
            var label	 = input.nextElementSibling,
                labelVal = label.innerHTML;

            input.addEventListener( 'change', function( e )
            {
                var fileName = '';
                if( this.files && this.files.length > 1 )
                    fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                else
                    fileName = e.target.value.split(/\\/g).pop();

                if( fileName )
                    label.querySelector( 'span' ).innerHTML = fileName;
                else
                    label.innerHTML = labelVal;
            });
        });
    </script>

</body>
</html>