<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/upload.css" />
    <title>Upload</title>
    <%- include ('partials/head.html')%>
    <script src="https://www.lactame.com/lib/image-js/0.21.2/image.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <%- include ('partials/navigation.html')%>

    <div id="drop_zone" class="is_void" draggable="true" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="out(event)" ondragenter="enter(event)">
        <div id="border_line" class="out">
                <img id="upload_icon" src="/img/icon_upload.png">

                <form id="formId" action="/upload" method="post" enctype="multipart/form-data">
                    <input id="file" type="file" class="inputfile" name="file" data-multiple-caption="{count} files selected" accept="text/plain" multiple/>
                    <label for="file"><span><b>Choose a meme file</b> or drag it here</span> </label>
                    <input id="upload_button" type="submit" id="upload_button" value="Upload">
                </form>
        </div>
    </div>


    <div id="target">
    </div>

    <script>
        function out(ev) {
            console.log('out');
            document.getElementById("drop_zone").classList.add('is_void');
            document.getElementById("drop_zone").classList.remove('is_on_drag');
            
            document.getElementById("border_line").classList.add('out');
            document.getElementById("border_line").classList.remove('enter');
        }

        function enter(ev) {
            console.log('enter');
            document.getElementById("drop_zone").classList.remove('is_void');
            document.getElementById("drop_zone").classList.add('is_on_drag');
                       
            document.getElementById("border_line").classList.add('enter');
            document.getElementById("border_line").classList.remove('out');
        }

        function dropHandler(ev) {

            console.log('File(s) dropped');
            ev.preventDefault();

            if(ev.dataTransfer.files)  {
                var inputFile = document.getElementById('file');

                for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                    if(!(ev.dataTransfer.files[i].type === 'text/plain')) {
                        console.log('INVALID TYPE ... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
                        inputFile.files = null;
                        return;
                    }      
                }   
                inputFile.files = ev.dataTransfer.files;
            }     

            removeDragData(ev);
            
            document.getElementById("upload_button").style.display = 'flex';
            
            uploadRandomIcon();
            
            /*This create an event*/
            var event = new Event('change');
            document.getElementById('file').dispatchEvent(event);
        }

        function uploadRandomIcon() {
            const random = Math.floor(Math.random() * 4);
            let icon = document.getElementById("upload_icon");

            if(random === 1 ) icon.src = "/img/glasses_icon.png";
            else if(random === 2) icon.src = "/img/meme_icon.png";
            else if(random === 3) icon.src = "/img/troll_icon.png";
            else if(random === 4) icon.src = "/img/doge_icon.png";
            else icon.src = "/img/glasses_icon.png";
        }

        function dragOverHandler(ev) {
            console.log('File(s) in drop zone');
            ev.preventDefault();
        }

        function removeDragData(ev) {
            console.log('Removing drag data')

            if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to remove the drag data
                ev.dataTransfer.items.clear();
            } else {
                // Use DataTransfer interface to remove the drag data
                ev.dataTransfer.clearData();
            }
        }

        $('#formId')
        .submit( function( e ) {
            e.preventDefault();

            $.ajax( {
            url: '/upload',
            type: 'POST',
            data: new FormData( this ),
            processData: false,
            contentType: false,
            success: function(response) {
                        var html = '<h2>' + response + '</h2>';
                    $('#target').html(html);
                }
            });
        });  


        /*This print the name files to the label of the input file*/
        var inputs = document.querySelectorAll( '.inputfile' );
        Array.prototype.forEach.call( inputs, function( input )
        {
            var label	 = input.nextElementSibling,
                labelVal = label.innerHTML;

            input.addEventListener( 'change', function( e )
            {
                var fileName = '';
                if( this.files && this.files.length > 1 )
                    fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                else
                    fileName = e.target.value.split(/\\/g).pop();

                if( fileName )
                    label.querySelector( 'span' ).innerHTML = fileName;
                else
                    label.innerHTML = labelVal;
            });
        });
    </script>

</body>
</html>