body {
    background: #e2e2e2;
}

#drop_zone {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-align: center;
    max-width: 800px;
    width: 90vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    transition-duration: 0.4s;

    /*These lines prevent to select*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#border_line {
    color: #296394;
    flex-direction: column;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    border: 2px dashed #296394;
    border-radius: 6px;
}

#formId {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drop_zone input[type="submit"] {
    display: none;
    border:transparent;
    background-color: #296394;
    color:white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#categories {
    pointer-events: all;
    display: none;
    border: 1px solid #296394;
    border-radius: 5px;
    background-color: transparent;
    color: #296394;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#drop_zone input[type="submit"]:hover {
    background-color: #3C91D8;
}

#drop_zone label {
    cursor: pointer;
}

#upload_icon {
    height: 200px;
    width: 200px;
}

#textFile {
    cursor: default;
}

#drop_zone #border_line, #testDrag {
    pointer-events: none; /*This prevent to modify the dragEnter or dragLeave inside the main div*/
}

#drop_zone input, label {
    pointer-events: all;
}

.is_void {
    background: #A1CDF2;
    color: black;
}

.is_on_drag {
    background: #F5F5F5;
    color: black;
}

.out {
    height: 98%;
    width: 98%;
}

.enter {
    height: 95%;
    width: 95%;
}

/*This hide the input file with css tricks*/
.inputfile { 
    pointer-events: none; /*This prevent to modify the dragEnter or dragLeave inside the main div*/
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#target {
    display: none;
    width: auto;
    margin-top: 20px;
    border: 1px solid rgb(92, 36, 36);
    text-align: center;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid rgb(192, 192, 192);
    height: 350px;
    border-radius: 15px;
}

#target p {
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
    font-size: 20px;
    margin: 15px;
}

#loader {
    display: none;
    margin: auto;
    margin-top: 40px;
    width: 80px;
}

.error {
    color: rgb(180, 55, 55);
}

.warning {
    color: rgb(194, 176, 14);
}

.uploaded {
    color: rgb(13, 104, 13);
}

#textFile {
    color: rgb(175, 37, 37);
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
    
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgb(199, 199, 199);
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(156, 156, 156); 
}
    
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

